<div class="container">
  <h1>Hotel</h1>

  <div class="row">
    <div class="col">
      <img src="images/Hotel.jpg" width="800px" class="rounded rounded" />
    </div>
    <div class="col">
      <div class="lead">
        The Hotel offers comfortable accomodations with a variety of rooms,
        services, amenities, and customer service avaliable to guests.
      </div>
    </div>
  </div>

  <div class="m-5">
    <h2 class="text-center">
      Services
      <hr />
    </h2>
    <div class="row row-cols-5">
      <div class="col border rounded bg-light mr-5">
        <div class="text-center">
          Swimming Pool
          <hr />
        </div>
        Stay cool when things are heating up by enjoying a relaxing swim.
      </div>
      <div class="col border rounded bg-light mr-5">
        <div class="text-center">
          Free Wi-fi
          <hr />
        </div>
        Wi-Fi internet service is available 24-hours in lobby, meeting room,
        facilities and guest rooms to help you stay connected wherever you are.
      </div>
      <div class="col border rounded bg-light mr-5">
        <div class="text-center">
          Restaurants
          <hr />
        </div>
        Here, you can taste some culinary masterpieces by our chef.
      </div>
      <div class="col border rounded bg-light mr-5">
        <div class="text-center">
          24 hour front desk
          <hr />
        </div>
        The reception is opened 24 hours a day. Our receptionists inform our
        guests of all the hotel facilities and events, and ensure that
        everything is done to satisfy their needs during their stay.
      </div>
    </div>
  </div>
</div>
