<div>
  <form action="<%=`/users/${user._id}/update?_method=PUT`%>" method="POST">
    <h2>Edit user:</h2>
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      value="<%= user.name %>"
      placeholder="Name"
      autofocus
      required
    />

    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      value="<%= user.email %>"
      placeholder="Email"
      required
    />

    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      value="<%= user.password %>"
      placeholder="Password"
      required
    />

    <button type="submit">Save</button>
  </form>
</div>
